{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Test {% endblock %}

{% block body %}
    <h2>Test !</h2>
    {# Création de variable #}
    {% set name = "Sylvain" %}

    <h2>Hello {{ name }} ! </h2>

    {# création d'un tableau #}
    {% set colors = ['blue', 'red', 'pink', 'purple'] %}

    {# boucle for #}
    {% for color in colors %}
        <div style="background-color: {{ color }}">{{ color }} {{ loop.index }}</div>
        {% if loop.first %}
            <p>Premier passage</p>
        {% endif %}
    {% endfor %}

    {# utilisation d'objet #}
    {% set book = {
        title : "Dune",
        author : "Frank Herbert",
        year : 1965
    } %}

    <p>{{ book.title }} écris par {{ book.author }}</p>

    {# boucle sur clé/valeur #}
    {% for key, val in book %}
        <div>{{ key }} : {{ val }}</div>
    {% endfor %}

    {# quelques filtres #}

    <div>Hello {{ name | upper }}</div>
    <div>{{ colors | join('-') }}</div>
    <div>{{ "now" | date('d/m/Y') }}</div>


    <div>
        <p>Titre de la série {{ got.title }} | {{ got['year'] }} </p>
        <p>Titre de la série {{ boys['title'] }} | {{ boys.year }} </p>
    </div>

    <div>
        {{ username }}
        {{ username | raw }}
        {{ username | striptags }}
    </div>

{% endblock %}














